.at5{
    padding: 1em;
    border-radius: .5em;
    width: 300px;
    background-color: var(--primaria);
    
    overflow: hidden;
}
.at{
    width: 50%;
    float: right;
}
.at5 p{
    width: 50px;
    margin: 1em 0;
    color: var(--secundaria);
    font-size: 1.5em;
    float: left;

}
div.bc input[type="checkbox"] + .b{
    display: block;
    width: 30px;
    height: 30px;
    background-image: radial-gradient(rgb(134, 123, 123) 5%, black );
    border-radius: 18px;
    position: relative;
    top: -12px;
    left: -10px;
    border: 1px black solid;
}
div.bc input[type="checkbox"]:checked + .b{
    background-image: radial-gradient(red 5%, black );

}
div.bc{
    width: 1em;
    float: left;
    padding-right: 14px;
}
.bc input{
    position: relative;
    z-index: 1;
    top: 20px;
    left: -10px;
    width: 30px;
    height: 30px;
    margin: 0;
    opacity: 0;
}