.at5{
    background-color: var(--primaria);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}
.at{
    width: auto;
    display: flex;
    flex-grow: 1;
}
.at5 .at{
    padding-left: .5em;
} 
.at5 p{
    width: auto;
    margin: 1em 0;
    color: var(--secundaria);
    font-size: 1em;
    flex-grow: 2;
    padding-right: .5em;
}
div.bc input[type="checkbox"] + .b{
    display: block;
    width: 30px;
    height: 30px;
    background-image: radial-gradient(rgb(134, 123, 123) 5%, black );
    border-radius: 18px;
    position: relative;
    top: -23px;
    left: -10px;
    border: 1px black solid;
}
div.bc input[type="checkbox"]:checked + .b{
    background-image: radial-gradient(red 5%, black );

}
div.bc{
    width: 1em;
    padding: 0 3px;
}
.bc input{
    position: relative;
    z-index: 1;
    top: 23px;
    left: -10px;
    width: 30px;
    height: 30px;
    margin: 0;
    opacity: 0;
}