.at5{
    background-color: var(--primaria);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    position: relative;
}
.at{
    width: auto;
    display: flex;
    justify-content: space-between;
}
.at5 .at{
    padding-left: .5em;
} 
.at5 p{
    width: auto;
    margin: 1em 0;
    color: var(--secundaria);
    font-size: 1em;
    flex-grow: 2;
    padding-right: .5em;
    text-align: left;
}
div.bc input[type="checkbox"] + .b{
    display: block;
    width: 30px;
    height: 30px;
    background-image: radial-gradient(rgb(134, 123, 123) 5%, black );
    border-radius: 18px;
    position: relative;
    top: -23px;
    left: -10px;
    border: 1px black solid;
    z-index: 0;
}
div.bc input[type="checkbox"]:checked + .b{
    background-image: radial-gradient(red 5%, black );

}
div.bc{
    width: 1em;
    padding: 0 .25em;
    flex-grow: 1;
}
.bc input{
    position: relative;
    z-index: 1;
    top: 23px;
    left: -10px;
    width: 30px;
    height: 30px;
    margin: 0;
    opacity: 0;
}
.at5-close{
    position: absolute;
    top: 0;
    right: 0; 
}
.at5-close-button{
    background-color: var(--secundaria);
    color: var(--primaria);
    padding: .1em;
}
.displaynone{
    display: none;
}