.at5{
    padding: 1em;
    border-radius: .5em;
    width: 300px;
    overflow: hidden;
}
.at{
    width: 50%;
    float: right;
}
.at5 p{
    width: 50px;
    margin: 1em 0;
   float: left;

}
div.bc input[type="checkbox"] + .b{
    display: block;
    width: 20px;
    height: 20px;
    background-image: radial-gradient(rgb(134, 123, 123) 5%, black );
    border-radius: 10px;
    position: relative;
    top: -10px;
    border: 1px black solid;
}
div.bc input[type="checkbox"]:checked + .b{
    background-image: radial-gradient(red 5%, black );

}
div.bc{
    width: 1em;
    float: right;
    padding-right: 8%;
}
.bc input{
    position: relative;
    z-index: 1;
    top: 13.5px;
    width: 20px;
    height: 20px;
    margin: 0;
    opacity: 0;
}