body.paleta1{
	--secundaria:#ff0000;
	--tercearia: #ffffff;
	--tercearia-visited: #c4c4c4;
	--tercearia-click: #c4c4c4;
	--primaria:  #000000;
	--quarternaria: #a50001;
	--qinta: #430006;
	margin: 0;
	position: relative;
	font-size: 16px;
	background-image: url("../img/backgraund.jpg");
}

