

.atb-column-h{
    font-size: 1.5em;
}
.atb-column{
    color: var(--secundaria);
    text-align: center;
    font-size: 1.25em;
    line-height: 2;
}
.atb-column-button{
    width: 50%;
    border: none;
    background-color: var(--primaria);
    color: var(--secundaria);
    text-align: center;
    line-height: 2em;
    font-size: 1.5em;
    flex-grow: 1;
}
.atb-column-button:active{
    background-color: var(--secundaria);
    color: var(--primaria);
}
.atb-column-buttons{
    width: 100%;
}
