@media  (max-width:1523px){
    .footer-logo-img{
        width: 1.5em;
    }

    footer{
        font-size: 1em;
        background-color: var(--qinta);
        padding: 1em 0 80px 0; 
        color: var(--tercearia);
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 0px;
        overflow: hidden;

    }
    .footer-op-p{
        margin: 16px 0;
    }
    .footer-op-h{
        margin: 21px 0;
    }
    .footer-base{
        background-color: var(--primaria);
        width: 100% ;
        padding: 1em 0;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .footer-base-item{
        text-align: center;
        width: 250px;
        
    }
}
@media  (min-width:1524px){
    .footer-logo-img{
        width: 2em;
    }

    footer{
        font-size: 20px;
        background-color: var(--qinta);
        padding: 2em 0 160px 0; 
        color: var(--tercearia);
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 0px;
        overflow: hidden;
    }
    .footer-op-p{
        margin: 16px 0;
    }
    .footer-op-h{
        margin: 21px 0;
    }
    .footer-base{
        background-color: var(--primaria);
        width: 100% ;
        padding: 1em 0;
        overflow: hidden;
        position: absolute;
        bottom: 0px;
        left: 0px;
    }
    .footer-base-item{
        text-align: center;
        width: 250px;
        
    }
}
@media (max-width: 350px) {
    .footer-op{
        width: 250px;
        float:none;
        padding:  0;
        height: 165px;
        margin:0  50px;
    
    }
}
@media (max-width: 723px) and (min-width:351px){
    
    .footer-op{
        width: 250px;
        float:none;
        padding:  0;
        height: 165px;
        margin:0  auto;
    
    }
}
@media  (max-width:723px) {
    .footer-logo{
        float: none;
        margin: 0 auto;
    }
    .footer-social{
        float: none;
        margin: 0 auto;
    }
}
@media (max-width: 425px){
    .footer-op-p{
        margin: 16px 0;
        font-size: 1.25em;
    }
    .footer-op-h{
        margin: 21px 0;
        font-size: 1.75em;
    }
} 
@media (max-width:1241px) and (min-width: 426px){
 
    .footer-op-p{
        margin: 16px 0;
        font-size: 1em;
    }
    .footer-op-h{
        margin: 21px 0;
        font-size: 1.5em;
    }
} 
@media (max-width: 899px) and (min-width:724px){
    .footer-logo{
        float:left;
    }
    .footer-social{
        float: left;
    } 
    .footer-op{
        width: 250px;
        float:left;
        padding:  0;
        height: 165px;
        margin:0  0 .5em 7em ;
    
    }
} 
@media (max-width:1241px) and (min-width: 900px){
    .footer-logo{
        float:left;
    }
    .footer-social{
        float: left;
    } 
    .footer-op{
        width: 250px;
        float:left;
        padding:  0;
        height: 165px;
        margin:0  0 .5em 3em ;
    
    }
    
}
@media (max-width:1522px) and (min-width: 1242px){
    .footer-logo{
        float:left;
    }
    .footer-social{
        float: left;
    } 
    .footer-op{
        width: 250px;
        float:left;
        padding:  0;
        height: 200px;
        margin:0  0 .5em 6em ;
    
    }
    .footer-op-p{
        margin: 16px 0;
        font-size: 1.5em;
    }
    .footer-op-h{
        margin: 21px 0;
        font-size: 2em;
    }
    
} 
@media  (min-width:1523px){
    .footer-logo{
        float:left;
    }
    .footer-social{
        float: left;
    } 
    .footer-op{
        width: 250px;
        float:left;
        padding:  0;
        height: 250px;
        margin:0  5em ;
    
    }
    .footer-op-p{
        margin: 16px 0;
        font-size: 1.5em;
    }
    .footer-op-h{
        margin: 21px 0;
        font-size: 2em;
    }
    .footer-options{
        width: 1440px;
        margin: auto;
    }
} 
h4.footer-op-h, p.footer-op-p{
    color: var(--tercearia);
}
.footer-op-a:link{
    color:var(--tercearia);
    font-weight: bold;
    text-decoration: none;
}
.footer-op-a:visited{
    color: var(--tercearia-visited);
}
.footer-op-a:active{
    color:var(--secundaria);
}