.text-input-underline{
    position: relative;
}
.text-input-underline::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--secundaria);
    left: 0;
    bottom: 10px;
}
.text-input-underline-column{
    position: relative;
}
.text-input-underline-column::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--secundaria);
    left: 0;
    bottom: 5px;
}